<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启AspectJ功能.-->
    <aop:aspectj-autoproxy/>

    <bean id="dog" class="com.loring.spring.aop.Dog">
        <property name="name" value="王皮皮"/>
    </bean>

    <!-- 定义aspect类 -->
    <bean name="myAspect" class="com.loring.spring.aop.MyAspect"/>

</beans>